**Membaca Data COVID19 di Dunia dan Asean**

In [1]:
import json
import numpy as np
import pandas as pd
import requests

**Membuat Fungsi Untuk Membaca JSON**
Gunakan fungsi request() untuk melakukan HTTP Request ke Server. Gunakan untuk mengambil data JSON.

In [2]:
# Buat fungsi python get_json dengan parameter API_url
# dengan kondisi jika status_code=200 (Example respon) maka fungsi tersebut akan mengembalikan value berupa python dictionary
# jika tidak, maka value yang dikembalikan adalah None
def get_json(API_url):
  response = requests.get(API_url)
  if response.status_code == 200 :
    return json.loads(response.content.decode('utf-8'))
  else :
    return None

**Memanggil API COVID19**

In [ ]:
# Gunakan parameter record_date untuk mengambil data pada tanggal tertentu
# Hasil respon dimasukkan ke variabel df_covid sebagai dataframe
# gunakan fungsi pd.io.json.json_normalize untuk mendapatkan dataframe
covid_api='https://covid19-api.org/api/status?date=2020-09-15'
df_covid=pd.json_normalize(get_json(covid_api))
print(df_covid.head(25))

### Expected output:
```
country          last_update    cases  deaths  recovered
0       US  2020-09-14T23:23:20  6551575  194443    2474570
1       IN  2020-09-14T23:23:20  4846427   79722    3780107
2       BR  2020-09-14T23:23:20  4330455  131625    3723206
3       RU  2020-09-14T23:23:20  1064438   18573     876152
4       PE  2020-09-14T23:23:20   729619   30710     566796
5       CO  2020-09-14T23:23:20   716319   22924     599385
6       MX  2020-09-14T23:23:20   668381   70821     557381
7       ZA  2020-09-14T23:23:20   650749   15499     579289
8       ES  2020-09-14T23:23:20   593730   29848     150376
9       AR  2020-09-14T23:23:20   555537   11412     428953
10      CL  2020-09-14T23:23:20   436433   12013     407725
11      FR  2020-09-14T23:23:20   425648   30958      90300
12      IR  2020-09-14T23:23:20   404648   23313     348013
13      GB  2020-09-14T23:23:20   373553   41726       2152
14      BD  2020-09-14T23:23:20   339332    4759     243155
15      SA  2020-09-14T23:23:20   326258    4305     303930
16      PK  2020-09-14T23:23:20   302020    6383     289806
17      IQ  2020-09-14T23:23:20   294478    8086     229132
18      TR  2020-09-14T23:23:20   292878    7119     260058
19      IT  2020-09-14T23:23:20   288761   35624     213950
20      PH  2020-09-14T23:23:20   265888    4630     207504
21      DE  2020-09-14T23:23:20   263222    9356     234017
22      ID  2020-09-14T23:23:20   221523    8841     158405
23      UA  2020-09-14T23:23:20   160679    3273      72091
24      IL  2020-09-14T23:23:20   160368    1136     118570
 ```

**Mengubah Format tanggal**

In [ ]:
# Gunakan fungsi to_datetime dengan format YYYY-mm-dd HH:MM:SS untuk mengubah format kolom last_update
df_covid['last_update'] = pd.to_datetime(df_covid['last_update'], format='%Y-%m-%d %H:%M:%S')
print(df_covid.head(10))

### Expected output:
```
 country         last_update    cases  deaths  recovered
0       US 2020-09-14 23:23:20  6551575  194443    2474570
1       IN 2020-09-14 23:23:20  4846427   79722    3780107
2       BR 2020-09-14 23:23:20  4330455  131625    3723206
3       RU 2020-09-14 23:23:20  1064438   18573     876152
4       PE 2020-09-14 23:23:20   729619   30710     566796
5       CO 2020-09-14 23:23:20   716319   22924     599385
6       MX 2020-09-14 23:23:20   668381   70821     557381
7       ZA 2020-09-14 23:23:20   650749   15499     579289
8       ES 2020-09-14 23:23:20   593730   29848     150376
9       AR 2020-09-14 23:23:20   555537   11412     428953

 ```

In [38]:

# Gunakan fungsi date() melalui fungsi lambda untuk mengubah bentuk datetime ke bentuk date setiap row-nya
df_covid['last_update'] = pd.to_datetime(df_covid['last_update'], format='%Y-%m-%d %H:%M:%S')
df_covid['last_update'] = df_covid['last_update'].apply(lambda x: x.date())
print(df_covid.head(10))

  country last_update    cases  deaths  recovered
0      US  2020-09-14  6551575  194443    2474570
1      IN  2020-09-14  4846427   79722    3780107
2      BR  2020-09-14  4330455  131625    3723206
3      RU  2020-09-14  1064438   18573     876152
4      PE  2020-09-14   729619   30710     566796
5      CO  2020-09-14   716319   22924     599385
6      MX  2020-09-14   668381   70821     557381
7      ZA  2020-09-14   650749   15499     579289
8      ES  2020-09-14   593730   29848     150376
9      AR  2020-09-14   555537   11412     428953

### Expected output:
```
 country last_update    cases  deaths  recovered
0       US  2020-09-14  6551575  194443    2474570
1       IN  2020-09-14  4846427   79722    3780107
2       BR  2020-09-14  4330455  131625    3723206
3       RU  2020-09-14  1064438   18573     876152
4       PE  2020-09-14   729619   30710     566796
5       CO  2020-09-14   716319   22924     599385
6       MX  2020-09-14   668381   70821     557381
7       ZA  2020-09-14   650749   15499     579289
8       ES  2020-09-14   593730   29848     150376
9       AR  2020-09-14   555537   11412     428953

 ```

In [ ]:
# Membuat dataframe countries dengan memanggil variable countries_url ke api covid19-api.org
# Mengubah nama kolom alpha2 menjadi country, dan hanya mengambil kolom name dan country saja untuk dataframe countries dengan nama variable df_countries
countries_api='https://covid19-api.org/api/countries'
df_countries=pd.json_normalize(get_json(countries_api))
print(df_countries.head(10))

### Expected output:
```
                name alpha2 alpha3 numeric  latitude   longitude
0          Afghanistan     AF    AFG     004     33.00   65.000000
1              Albania     AL    ALB     008     41.00   20.000000
2              Algeria     DZ    DZA     012     28.00    3.000000
3              Andorra     AD    AND     020     42.50    1.500000
4               Angola     AO    AGO     024    -12.50   18.500000
5  Antigua and Barbuda     AG    ATG     028     17.05  -61.800000
6            Argentina     AR    ARG     032    -34.00  -64.000000
7              Armenia     AM    ARM     051     40.00   45.000000
8                Aruba     AW    ABW     533     12.50  -69.966667
9            Australia     AU    AUS     036    -27.00  133.000000

 ```