### 1. Buatlah fungsi `letter_catalog` dengan sebuah positional argument berupa list dan keyword argument `letter` untuk nilai default 'A'. Fungsi `letter_catalog` akan mengembalikan sebuah list yang berisi nama-nama buah yang dimulai dengan huruf yang ada keyword argument `letter`. Jika tidak ada item di list inputan tersebut yang diawali dengan huruf yang didefinisikan di keyword `letter` maka fungsi mengembalikan list kosong.

In [4]:
#Graded
def letter_catalog(items,letter='A'):
  pass
  # MULAI KODEMU DI SINI
  
 
  return [item for item in items if item[:1]== letter]

In [ ]:
# Cek output kode anda
letter_catalog(['Apple','Avocado','Banana','Blackberries','Blueberries','Cherries']
,letter='A')

Expected output:
```
['Apple', 'Avocado']
```

### 2. Buatlah list `counter_item` yang memiliki sebuah input argument berupa list. Fungsi ini mengembalikan sebuah dictionary yang menghitung jumlah buah dalam list input, dengan `key` berupa nama buah tersebut dan `value` berupa jumlah nama buah tersebut muncul di list input.

In [ ]:
#Graded

def counter_item(items):
  pass
  # MULAI KODEMU DI SINI
  fruits = {}
  for item in items:
      if item not in fruits: fruits[item] = 0
      fruits[item] += 1
  return fruits

In [ ]:
# Cek output kode anda
counter_item(['Apple','Apple','Apple','Blueberries','Blueberries','Blueberries'])

{'Apple': 3, 'Blueberries': 3}

Expected output:
```
{'Apple': 3, 'Blueberries': 3}
```

### 3. Di bawah ini sudah ada tiga variables `fruits`, `prices`, dan `chart`. 
- Buatlah sebuah dictionary yang berupa daftar harga buah dengan `key` berupa nama buah di variable `fruits` dan dengan `value` berupa harga dari buah tersebut di variable `price` (sudah diurutkan sesuai dengan nama-nama buah di varibale `fruits`, kemudian Dictionary tersebut disimpan di dalam variable `fruit_price`.
- Selanjutnya, Buatlah fungsi `total_price` dengan dua input yaitu: 1) dictionary yang merupakan keluaran dari fungsi `counter_item` dan 2) dictionary harga buah  `fruit_price`. Fungsi ini mengeluarkan sebuah total harga dari daftar buah di dictionary keluaran dari `counter_item`.

**Hint**: Gunakan fungsi `counter_item` di soal nomor 2.

In [ ]:
#Graded

# dua variable berikut jangan diubah
fruits = ['Apple','Avocado','Banana','Blackberries','Blueberries','Cherries','Date Fruit','Grapes','Guava','Jackfruit','Kiwifruit']
prices = [6,5,3,10,12,7,14,15,8,7,9]

# list buah
chart = ['Blueberries','Blueberries','Grapes','Apple','Apple','Apple','Blueberries','Guava','Jackfruit','Blueberries','Jackfruit']

# MULAI KODEMU DI SINI

  
fruit_price = {}
for i in range(len(fruits)):
    fruit_price[fruits[i]] = prices[i]

def total_price(dcounter,fprice):
  prices = 0
  for fruit in dcounter:
      prices += dcounter[fruit] * fprice[fruit]
  return prices

In [ ]:
# Cek output kode anda
total_price(counter_item(chart),fruit_price)

103

Expected output:
```
103
```

### 4. Buatlah fungsi `discounted_price` dengan dua positional arguments input dari keluaran fungsi totalprice dan discount dalam persen(80 berarti 80%, dst), dan satu keyword argument `minprice` yang menunjukkan hanya dengan minimum price tersebut yang hanya di-discount, set default value `minprice` ke 100. Fungsi tersebut menghitung nilai harga akhir setelah di-discount sebesar discount variable (argument kedua). Untuk harga total yang kurang dari `minprice` maka keluarannya sama dengan harga total tersebut tanpa discount.

In [ ]:
#Graded

def discounted_price(total,discount,minprice=100):
  pass
  # MULAI KODEMU DI SINI
  if total >= minprice: return total * (1 - discount/100)
  return total

In [ ]:
# Cek output kode anda
discounted_price(total_price(counter_item(chart),fruit_price),10,minprice=100)

92.7

Expected output:
```
92.7
```

### 5. Buatlah fungsi `print_summary` dengan 2 posisional argument input, list nama2 buah (cth: seperti variable `chart`) dan dictionary harga buah (cth: seperti variable `fruit_price`, yang mengeluarkan tulisan ringakasan dari pembelian buah seperti berikut ini.

cth keluaran:
```
3 Apple : 18
4 Blueberries : 48
1 Grapes : 15
1 Guava : 8
2 Jackfruit : 14
total : 103
discount price : 92.7
```
dengan format `jumlahbuah`\<spasi\>`namabuah`\<spasi\>`totalhargabuah\n` dengan nama nama buah berurutan sesuai abjad `ascending`, kemudian diikuti total harga semuanya dan discount price dengan besaran 10% dengan minimum harga pembelian 100.

**Note**: dipisahkan hanya satu spasi. Output harus sama dengan contoh diatas untuk pemanggilan fungsi berikut ini.
```
print_summary(chart,fruit_price)
```

In [ ]:
#Graded

def print_summary(items,fprice):
  pass
  # MULAI KODEMU DI SINI
  for counter in sorted(counter_item(items).items()):
    print(str(counter[1]) + ' ' + counter[0] + ' : ' + str(fruit_price[counter[0]] * counter[1]))

  total = total_price(counter_item(items),fprice)
  print('total : ' + str(total))
  print('discount price : ' + str(discounted_price(total,10,minprice=100)))

In [ ]:
# Cek output kode anda
print_summary(chart,fruit_price)

3 Apple : 18
4 Blueberries : 48
1 Grapes : 15
1 Guava : 8
2 Jackfruit : 14
total : 103
discount price : 92.7

Expected output:
```
3 Apple : 18
4 Blueberries : 48
1 Grapes : 15
1 Guava : 8
2 Jackfruit : 14
total : 103
discount price : 92.7
```